[submodule "Foundation"]
path = Foundation
url = ssh://git@github.com/CodeEditorLand/FoundationTauri.git

[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/CargoTauri.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/NPMTauri.git
