[submodule "Component"]
path = Component
url = ssh://git@github.com/CodeEditorLand/ComponentLand.git

[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/CargoLand.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/NPMLand.git
