[submodule "Foundation"]
path = Foundation
url = ssh://git@github.com/CodeEditorLand/FoundationLand.git

[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/CargoLand.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/NPMLand.git
