[submodule "Cargo"]
path = Cargo
url = ssh://git@github.com/CodeEditorLand/Cargo.git

[submodule "Land"]
path = Land
url = ssh://git@github.com/CodeEditorLand/EnvironmentLand.git

[submodule "NPM"]
path = NPM
url = ssh://git@github.com/CodeEditorLand/NPM.git
