[submodule "Microsoft"]
path = Microsoft
url = ssh://git@github.com/CodeEditorLand/DependencyMicrosoft.git
ignore = all

[submodule "SWC"]
path = SWC
url = ssh://git@github.com/CodeEditorLand/DependencySWC.git
ignore = all

[submodule "Tauri"]
path = Tauri
url = ssh://git@github.com/CodeEditorLand/DependencyTauri.git
ignore = all

