[submodule "Application/ApplicationinsightsLand"]
path = Application/ApplicationinsightsLand
url = ssh://git@github.com/CodeEditorLand/ApplicationinsightsLand.git
[submodule "Application/AzureBoardsLand"]
path = Application/AzureBoardsLand
url = ssh://git@github.com/CodeEditorLand/AzureBoardsLand.git
[submodule "Application/AzureDatalakeToolsForLand"]
path = Application/AzureDatalakeToolsForLand
url = ssh://git@github.com/CodeEditorLand/AzureDatalakeToolsForLand.git
[submodule "Application/AzureIotDeveloperKit"]
path = Application/AzureIotDeveloperKit
url = ssh://git@github.com/CodeEditorLand/AzureIotDeveloperKit.git
[submodule "Application/AzurePipelinesLand"]
path = Application/AzurePipelinesLand
url = ssh://git@github.com/CodeEditorLand/AzurePipelinesLand.git
[submodule "Application/AzureReposLand"]
path = Application/AzureReposLand
url = ssh://git@github.com/CodeEditorLand/AzureReposLand.git
[submodule "Application/AzureStreamAnalyticsInLand"]
path = Application/AzureStreamAnalyticsInLand
url = ssh://git@github.com/CodeEditorLand/AzureStreamAnalyticsInLand.git
[submodule "Application/Codetour"]
path = Application/Codetour
url = ssh://git@github.com/CodeEditorLand/Codetour.git
[submodule "Application/ComposeLanguageService"]
path = Application/ComposeLanguageService
url = ssh://git@github.com/CodeEditorLand/ComposeLanguageService.git
[submodule "Application/DeoptexplorerLand"]
path = Application/DeoptexplorerLand
url = ssh://git@github.com/CodeEditorLand/DeoptexplorerLand.git
[submodule "Application/DevSkim"]
path = Application/DevSkim
url = ssh://git@github.com/CodeEditorLand/DevSkim.git
[submodule "Application/DevSkimLandPlugin"]
path = Application/DevSkimLandPlugin
url = ssh://git@github.com/CodeEditorLand/DevSkimLandPlugin.git
[submodule "Application/DstoolkitDevcontainers"]
path = Application/DstoolkitDevcontainers
url = ssh://git@github.com/CodeEditorLand/DstoolkitDevcontainers.git
[submodule "Application/Gnls"]
path = Application/Gnls
url = ssh://git@github.com/CodeEditorLand/Gnls.git
[submodule "Application/Land"]
path = Application/Land
url = ssh://git@github.com/CodeEditorLand/Land.git
[submodule "Application/LandAnacondaExtensionPack"]
path = Application/LandAnacondaExtensionPack
url = ssh://git@github.com/CodeEditorLand/LandAnacondaExtensionPack.git
[submodule "Application/LandAnycode"]
path = Application/LandAnycode
url = ssh://git@github.com/CodeEditorLand/LandAnycode.git
[submodule "Application/LandApimanagement"]
path = Application/LandApimanagement
url = ssh://git@github.com/CodeEditorLand/LandApimanagement.git
[submodule "Application/LandAppcenter"]
path = Application/LandAppcenter
url = ssh://git@github.com/CodeEditorLand/LandAppcenter.git
[submodule "Application/LandArduino"]
path = Application/LandArduino
url = ssh://git@github.com/CodeEditorLand/LandArduino.git
[submodule "Application/LandAsa"]
path = Application/LandAsa
url = ssh://git@github.com/CodeEditorLand/LandAsa.git
[submodule "Application/LandAtomKeybindings"]
path = Application/LandAtomKeybindings
url = ssh://git@github.com/CodeEditorLand/LandAtomKeybindings.git
[submodule "Application/LandAutopep8"]
path = Application/LandAutopep8
url = ssh://git@github.com/CodeEditorLand/LandAutopep8.git
[submodule "Application/LandAzureAccount"]
path = Application/LandAzureAccount
url = ssh://git@github.com/CodeEditorLand/LandAzureAccount.git
[submodule "Application/LandAzureappservice"]
path = Application/LandAzureappservice
url = ssh://git@github.com/CodeEditorLand/LandAzureappservice.git
[submodule "Application/LandAzurearmtools"]
path = Application/LandAzurearmtools
url = ssh://git@github.com/CodeEditorLand/LandAzurearmtools.git
[submodule "Application/LandAzureAutomation"]
path = Application/LandAzureAutomation
url = ssh://git@github.com/CodeEditorLand/LandAzureAutomation.git
[submodule "Application/LandAzureBlockchainEthereum"]
path = Application/LandAzureBlockchainEthereum
url = ssh://git@github.com/CodeEditorLand/LandAzureBlockchainEthereum.git
[submodule "Application/LandAzurecache"]
path = Application/LandAzurecache
url = ssh://git@github.com/CodeEditorLand/LandAzurecache.git
[submodule "Application/LandAzurecli"]
path = Application/LandAzurecli
url = ssh://git@github.com/CodeEditorLand/LandAzurecli.git
[submodule "Application/LandAzurecognitivesearch"]
path = Application/LandAzurecognitivesearch
url = ssh://git@github.com/CodeEditorLand/LandAzurecognitivesearch.git
[submodule "Application/LandAzurecontainerapps"]
path = Application/LandAzurecontainerapps
url = ssh://git@github.com/CodeEditorLand/LandAzurecontainerapps.git
[submodule "Application/LandAzureeventgrid"]
path = Application/LandAzureeventgrid
url = ssh://git@github.com/CodeEditorLand/LandAzureeventgrid.git
[submodule "Application/LandAzurefunctions"]
path = Application/LandAzurefunctions
url = ssh://git@github.com/CodeEditorLand/LandAzurefunctions.git
[submodule "Application/LandAzureFunctionsRemoteWebExtension"]
path = Application/LandAzureFunctionsRemoteWebExtension
url = ssh://git@github.com/CodeEditorLand/LandAzureFunctionsRemoteWebExtension.git
[submodule "Application/LandAzurehealthcareapisTools"]
path = Application/LandAzurehealthcareapisTools
url = ssh://git@github.com/CodeEditorLand/LandAzurehealthcareapisTools.git
[submodule "Application/LandAzureIotEdge"]
path = Application/LandAzureIotEdge
url = ssh://git@github.com/CodeEditorLand/LandAzureIotEdge.git
[submodule "Application/LandAzureIotToolkit"]
path = Application/LandAzureIotToolkit
url = ssh://git@github.com/CodeEditorLand/LandAzureIotToolkit.git
[submodule "Application/LandAzureIotTools"]
path = Application/LandAzureIotTools
url = ssh://git@github.com/CodeEditorLand/LandAzureIotTools.git
[submodule "Application/LandAzurelogicapps"]
path = Application/LandAzurelogicapps
url = ssh://git@github.com/CodeEditorLand/LandAzurelogicapps.git
[submodule "Application/LandAzurePack"]
path = Application/LandAzurePack
url = ssh://git@github.com/CodeEditorLand/LandAzurePack.git
[submodule "Application/LandAzureresourcegroups"]
path = Application/LandAzureresourcegroups
url = ssh://git@github.com/CodeEditorLand/LandAzureresourcegroups.git
