auto-install-peers=true
hoist=true
legacy-peer-deps=true
link-workspace-packages=true
prefer-frozen-lockfile=false
prefer-workspace-packages=false
shamefully-hoist=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
unsafe-perm=true
use-beta-cli=true
node-linker=hoisted
