auto-install-peers=true
hoist=true
init-author-email="Source/Open@Editor.Land"
init-author-name="Source/Open"
init-author-url="HTTPS://Editor.Land"
init-description=""
init-license="SEE LICENSE IN LICENSE"
init-version=0.0.1
legacy-peer-deps=true
link-workspace-packages=true
node-linker=hoisted
node_options=--max-old-space-size=32768
prefer-frozen-lockfile=false
prefer-workspace-packages=true
shamefully-hoist=true
shared-workspace-lockfile=true
strict-peer-dependencies=false
unsafe-perm=true
use-beta-cli=true
