.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnpm-debug.log
.vscode
~*.docx
~*.tmp
Cargo.lock
debug.log
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*

Application/Gnls/addon/gn
Application/Gnls/build
Application/Gnls/compile_commands.json

Application/LandDocs/*.md

Application/LandGradle/extension/.vscode-test
Application/LandGradle/extension/out/
Application/LandGradle/extension/dist/
Application/LandGradle/extension/test-fixtures/
Application/LandGradle/extension/package.json
Application/LandGradle/extension/lib/
Application/LandGradle/extension/Source/proto/
Application/LandGradle/extension/build/

Application/LandJupyter/Source/platform/pythonEnvironments/*
Application/LandJupyter/Source/test/pythonEnvironments/*

Application/LandJupyterLspMiddleware/Source/client/pythonEnvironments/*
Application/LandJupyterLspMiddleware/Source/test/pythonEnvironments/*

Application/LandPullRequestGithub/.vscode-test
Application/LandPullRequestGithub/dist
Application/LandPullRequestGithub/**/@types/*

Application/LandPythonInstaller/Source/client/pythonEnvironments/*
Application/LandPythonInstaller/Source/test/pythonEnvironments/*
Application/LandPythonInstaller/Source/test/pythonEnvironments/*

Application/LandWebviewUiToolkit/build/
Application/LandWebviewUiToolkit/dist/
Application/LandWebviewUiToolkit/react/
Application/LandWebviewUiToolkit/test-webview
Application/LandWebviewUiToolkit/coverage/
Application/LandWebviewUiToolkit/temp/
Application/LandWebviewUiToolkit/docs/api-report.md

Application/LandWebviewUiToolkitSamples/default/component-gallery/.pnp
Application/LandWebviewUiToolkitSamples/default/component-gallery/.pnp.js
Application/LandWebviewUiToolkitSamples/default/component-gallery/coverage
Application/LandWebviewUiToolkitSamples/default/component-gallery/out
Application/LandWebviewUiToolkitSamples/default/component-gallery/build
Application/LandWebviewUiToolkitSamples/default/component-gallery/dist

Application/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp
Application/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp.js
Application/LandWebviewUiToolkitSamples/default/editable-data-grid/coverage
Application/LandWebviewUiToolkitSamples/default/editable-data-grid/out
Application/LandWebviewUiToolkitSamples/default/editable-data-grid/build
Application/LandWebviewUiToolkitSamples/default/editable-data-grid/dist

Application/LandWebviewUiToolkitSamples/default/hello-world/.pnp
Application/LandWebviewUiToolkitSamples/default/hello-world/.pnp.js
Application/LandWebviewUiToolkitSamples/default/hello-world/coverage
Application/LandWebviewUiToolkitSamples/default/hello-world/out
Application/LandWebviewUiToolkitSamples/default/hello-world/build
Application/LandWebviewUiToolkitSamples/default/hello-world/dist

Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp
Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp.js
Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/coverage
Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/out
Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/build
Application/LandWebviewUiToolkitSamples/default/hello-world-webpack/dist
Application/LandWebviewUiToolkitSamples/default/notepad/.pnp
Application/LandWebviewUiToolkitSamples/default/notepad/.pnp.js
Application/LandWebviewUiToolkitSamples/default/notepad/coverage
Application/LandWebviewUiToolkitSamples/default/notepad/out
Application/LandWebviewUiToolkitSamples/default/notepad/build
Application/LandWebviewUiToolkitSamples/default/notepad/dist
Application/LandWebviewUiToolkitSamples/default/weather-webview/.pnp
Application/LandWebviewUiToolkitSamples/default/weather-webview/.pnp.js
Application/LandWebviewUiToolkitSamples/default/weather-webview/coverage
Application/LandWebviewUiToolkitSamples/default/weather-webview/out
Application/LandWebviewUiToolkitSamples/default/weather-webview/build
Application/LandWebviewUiToolkitSamples/default/weather-webview/dist

Application/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/coverage
Application/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/build
Application/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/dist

Application/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/dist

Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/dist

Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/dist

Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/dist
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/dist
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/.pnp
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-vue.pnp.js
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/coverage
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/build
Application/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/dist

Application/MonacoEditor/**/dist/
Application/MonacoEditor/**/out/
Application/MonacoEditor/samples/browser-esm-parcel/.parcel-cache/
Application/MonacoEditor/samples/browser-esm-parcel/dist/
Application/MonacoEditor/samples/browser-esm-vite-react/dist/**/*.js
Application/MonacoEditor/samples/browser-esm-webpack/dist/*.js
Application/MonacoEditor/samples/browser-esm-webpack-monaco-plugin/dist/*.js
Application/MonacoEditor/samples/browser-esm-webpack-small/dist/*.js
Application/MonacoEditor/samples/browser-esm-webpack-typescript/dist/*.js
Application/MonacoEditor/samples/browser-esm-webpack-typescript-react/dist/*.js
Application/MonacoEditor/Source/language/typescript/lib/
Application/MonacoEditor/test/manual/generated/
Application/MonacoEditor/website/lib/
Application/MonacoEditor/website/typedoc/monaco.d.ts
Application/MonacoEditor/test/smoke/vite/dist
Application/MonacoEditor/test/smoke/parcel/dist
