.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.pnpm-debug.log
.vscode
~*.docx
~*.tmp
Cargo.lock
debug.log
node_modules
npm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn-debug.log*
yarn-error.log*

Land/Gnls/addon/gn
Land/Gnls/build
Land/Gnls/compile_commands.json

Land/LandDocs/*.md

Land/LandGradle/extension/.vscode-test
Land/LandGradle/extension/out/
Land/LandGradle/extension/dist/
Land/LandGradle/extension/test-fixtures/
Land/LandGradle/extension/package.json
Land/LandGradle/extension/lib/
Land/LandGradle/extension/Source/proto/
Land/LandGradle/extension/build/

Land/LandJupyter/Source/platform/pythonEnvironments/*
Land/LandJupyter/Source/test/pythonEnvironments/*

Land/LandJupyterLspMiddleware/Source/client/pythonEnvironments/*
Land/LandJupyterLspMiddleware/Source/test/pythonEnvironments/*

Land/LandPullRequestGithub/.vscode-test
Land/LandPullRequestGithub/dist
Land/LandPullRequestGithub/**/@types/*

Land/LandPythonInstaller/Source/client/pythonEnvironments/*
Land/LandPythonInstaller/Source/test/pythonEnvironments/*
Land/LandPythonInstaller/Source/test/pythonEnvironments/*

Land/LandWebviewUiToolkit/build/
Land/LandWebviewUiToolkit/dist/
Land/LandWebviewUiToolkit/react/
Land/LandWebviewUiToolkit/test-webview
Land/LandWebviewUiToolkit/coverage/
Land/LandWebviewUiToolkit/temp/
Land/LandWebviewUiToolkit/docs/api-report.md

Land/LandWebviewUiToolkitSamples/default/component-gallery/.pnp
Land/LandWebviewUiToolkitSamples/default/component-gallery/.pnp.js
Land/LandWebviewUiToolkitSamples/default/component-gallery/coverage
Land/LandWebviewUiToolkitSamples/default/component-gallery/out
Land/LandWebviewUiToolkitSamples/default/component-gallery/build
Land/LandWebviewUiToolkitSamples/default/component-gallery/dist

Land/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp
Land/LandWebviewUiToolkitSamples/default/editable-data-grid/.pnp.js
Land/LandWebviewUiToolkitSamples/default/editable-data-grid/coverage
Land/LandWebviewUiToolkitSamples/default/editable-data-grid/out
Land/LandWebviewUiToolkitSamples/default/editable-data-grid/build
Land/LandWebviewUiToolkitSamples/default/editable-data-grid/dist

Land/LandWebviewUiToolkitSamples/default/hello-world/.pnp
Land/LandWebviewUiToolkitSamples/default/hello-world/.pnp.js
Land/LandWebviewUiToolkitSamples/default/hello-world/coverage
Land/LandWebviewUiToolkitSamples/default/hello-world/out
Land/LandWebviewUiToolkitSamples/default/hello-world/build
Land/LandWebviewUiToolkitSamples/default/hello-world/dist

Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp
Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/.pnp.js
Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/coverage
Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/out
Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/build
Land/LandWebviewUiToolkitSamples/default/hello-world-webpack/dist
Land/LandWebviewUiToolkitSamples/default/notepad/.pnp
Land/LandWebviewUiToolkitSamples/default/notepad/.pnp.js
Land/LandWebviewUiToolkitSamples/default/notepad/coverage
Land/LandWebviewUiToolkitSamples/default/notepad/out
Land/LandWebviewUiToolkitSamples/default/notepad/build
Land/LandWebviewUiToolkitSamples/default/notepad/dist
Land/LandWebviewUiToolkitSamples/default/weather-webview/.pnp
Land/LandWebviewUiToolkitSamples/default/weather-webview/.pnp.js
Land/LandWebviewUiToolkitSamples/default/weather-webview/coverage
Land/LandWebviewUiToolkitSamples/default/weather-webview/out
Land/LandWebviewUiToolkitSamples/default/weather-webview/build
Land/LandWebviewUiToolkitSamples/default/weather-webview/dist

Land/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/coverage
Land/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/build
Land/LandWebviewUiToolkitSamples/frameworks/component-gallery-react/dist

Land/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-angular/dist

Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-cra/dist

Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-react-vite/dist

Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-solidjs/dist
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-svelte/dist
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/.pnp
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-vue.pnp.js
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/coverage
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/build
Land/LandWebviewUiToolkitSamples/frameworks/hello-world-vue/dist

Land/MonacoEditor/**/dist/
Land/MonacoEditor/**/out/
Land/MonacoEditor/samples/browser-esm-parcel/.parcel-cache/
Land/MonacoEditor/samples/browser-esm-parcel/dist/
Land/MonacoEditor/samples/browser-esm-vite-react/dist/**/*.js
Land/MonacoEditor/samples/browser-esm-webpack/dist/*.js
Land/MonacoEditor/samples/browser-esm-webpack-monaco-plugin/dist/*.js
Land/MonacoEditor/samples/browser-esm-webpack-small/dist/*.js
Land/MonacoEditor/samples/browser-esm-webpack-typescript/dist/*.js
Land/MonacoEditor/samples/browser-esm-webpack-typescript-react/dist/*.js
Land/MonacoEditor/Source/language/typescript/lib/
Land/MonacoEditor/test/manual/generated/
Land/MonacoEditor/website/lib/
Land/MonacoEditor/website/typedoc/monaco.d.ts
Land/MonacoEditor/test/smoke/vite/dist
Land/MonacoEditor/test/smoke/parcel/dist

Target
Documentation
vendor
